{% load static %}
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<style>
    img {
        height: 200px;
        width: 200px;
    }
</style>
{% include "Quiz/nav.html" %}

<body>
<section class="quiz-list">
    <div>
        <img src={% static '/images/quiz-logo.jpg' %}>
        <h1>Quiz Manager</h1>
        <h3>
            Select a quiz to view:
        </h3>
        {% for quiz in quizzes %}
            <a href="quiz/{{quiz.id}}/"> {{quiz}}</a> <br>
            <br>
        {% endfor %}
    </div>
</section>
</body>