{% load static %}
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<style>
    img {
        height: 200px;
        width: 200px;
    }
</style>
{% include "Quiz/nav.html" %}

<body>
<section class="quiz-list">
    <div>
        <img src={% static '/images/quiz-logo.jpg' %}>
        <h1>Quiz Manager</h1>
        <h3>
            Select a quiz to view:
        </h3>
        <div class="list-container">
        <ul>
        {% for quiz in quizzes %}
            <li style="list-style-type:none;"><a href="quiz/{{quiz.id}}/"> {{quiz}}</a></li>
        {% endfor %}
        </ul>
        </div>
    </div>
</section>
</body>